body{
    height: 100%;
    width: 100%;
    font-family:cursive;
    background-color: rgba(240, 224, 224, 0.973);
    margin: 0px;
    padding: 0px;
}

.description{
    background-color: rgba(184, 72, 72, 0.973);
    box-sizing: border-box;
    padding: 15px;
    border-radius: 30px;
    color: white;
}

.grid-container{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

h1{
    display: block;
    flex-basis: 100%;
    text-align: center;
}

.input-section{
    margin: 50px;
    width: 100%;
}

form{
    display: flex;
    justify-content: center;
}

input{
    display: block;
    height: 30px;
    width: 50px;
    margin: 25px;
    margin-left: 5px;
    border-radius: 20px;
}

label{
   display: flex;
   align-items: center;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    overflow: auto;
}

.container{
    overflow: hidden;
}

.blocked , .horizontal-scroll , .vertical-scroll{
    overflow: scroll;
}

.vertical-scroll::-webkit-scrollbar{
    display: none;
}

.horizontal-scroll::-webkit-scrollbar{
    display: none;
}

.blocked::-webkit-scrollbar{
    display: none;
}

.all-scroll-container::-webkit-scrollbar-track{
    background-color:transparent;
}

.all-scroll-container{
    overflow: scroll;
}


.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
}

.cell-none{
    background-color:rgba(228, 127, 127, 0.973);
}

.cell-uni{
    background-color: rgba(231, 165, 165, 0.973);
}

.cell-bi{
    background-color: rgba(236, 200, 200, 0.973);
}


